body {
	margin: 0px;
}
.canvas-container {
	width: 100%;
	height: 100%;
	text-align:center;
}

canvas {
	border: 1px solid black;
	display: inline;
}

.hidden {
	display: none;
}

#start-screen {
	font-size: 40px;
	text-align: center;
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	position: absolute;
	font-family: 'helvetica sans-serif';
	line-height: 50%;
	text-align: center;
}

.primary-message {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 40%;
	font-size: 40px;
	color: red;
}

.secondary-message {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 40%;
	font-size: 40px;
	color: red;	
}

#start-screen span {
	position: absolute;
	top: 40%;
	left: 40%;
}
