body {
	margin: 0px;
}

.canvas-container {
	width: 100%;
	height: 100%;
	text-align:center;
}

canvas {
	border: 1px solid black;
	display: inline;
	margin-top: 35px;
}

.hidden {
	display: none;
}

#start-screen {
	font-size: 40px;
	text-align: center;
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	position: absolute;
	font-family: 'helvetica sans-serif';
	line-height: 50%;
	text-align: center;
}

#countdown {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 48%;
	font-size: 75px;
	font-family: 'Roboto Slab', serif;
	color: black;
}

.message-container {
	position: absolute;
	top: 35%;
	left: 36%;
}

.primary-message, .secondary-message, .corner-message {
	font-family: 'Roboto Slab', serif;
	color: black;
}

.primary-message {
	font-size: 50px;
}

.secondary-message {
	font-size: 30px;
	margin-top: 5px;
}

.ammo-bar-zone {
	position: absolute;
	bottom: 45px;
	right: 120px;
}

.ammo-label {
	display: inline-block;
	margin-bottom: 3px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 2px;
	font-size: 16px;
}

.ammo-bar-container {
	border: 1px solid black;
	width: 80px;
	height: 20px;
}

.ammo-bar {
	height: 100%;
	width: 100%;
	background-color: black;
}

.title-message-container {
	position: absolute;
	top: 35%;
	left: 28%;
}

.title {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	letter-spacing: 25px;
	font-size: 50px;
}

.subtitle {
	font-size: 18px;
	color: #E8E8E8;
	letter-spacing: 5px;
	font-family: 'Roboto Slab', serif;
	margin-top: 45px;
}

.hidden {
	display: none;
}

.title {
	margin-bottom: 40px;
}

.difficulty-link {
	display: inline-block;
	font-size: 20px;
	color: #E8E8E8;
	letter-spacing: 5px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin-right: 45px;
	text-decoration: none;
}

.difficulty-link:hover {
	color: #939393;
	-webkit-transition: color 0.1s linear;
     -moz-transition: color 0.1s linear;
      -ms-transition: color 0.1s linear;
       -o-transition: color 0.1s linear;
          transition: color 0.1s linear;
}

.difficulty-link-container {
	position: relative;
	left: 20px;
}